<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jiuzhang.url.mapper.VisitInfoMapper">

    <select id="countList" resultType="com.jiuzhang.url.vo.LatestSumMax">
        SELECT t.long_url,
               COUNT(long_url) as sum
        FROM `visit_info` as t
        GROUP BY long_url
        order by sum DESC LIMIT 10
    </select>
    <select id="listLatestVisitInfo" resultType="com.jiuzhang.url.entity.VisitInfo">
        select * from `visit_info` limit 10
    </select>

</mapper>
